.filter-menu {
    position: absolute;
    top: 100%;
    right: 0;    
    width: 200px;
    height: 350px;
    max-height: 350px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 20;
    transform: translateY(5px);
    font-family: "Inter", sans-serif;
  }
  



